<%- include('./fragments/header.ejs') %>

<main>
    <h2>Strona główna</h2>
    <p>Jesteśmy nową firmą na rynku zajmującą się wypożyczaniem samochodów sportowych. W naszej firmie najważniejsze jest zadowolenie klienta. 
        Posiadamy ceny dostosowane do każdego klienta. Serdecznie zapraszamy do zapoznania się z naszą ofertą.</p>
</main>

<%- include('./fragments/footer.ejs') %>